body{
  background-color: #272727;
}
.body-default {
    background-color: #272727;
    color: #fff;
    height: 100vh;
  }
  
  //SIDEBAR
  
  .sidebar_st {
    background-color: #1f1f1f;
    height: 100vh;
  }
  
  //RGB LIGHT EFFECT
  .pice-border {
    background: rgb(250, 6, 252);
    background: linear-gradient(90deg, rgba(250, 6, 252, 1) 0%, rgba(158, 61, 255, 1) 25%, rgba(0, 249, 255, 1) 50%, rgba(158, 61, 255, 1) 75%, rgba(250, 6, 252, 1) 100%);
    animation: gradient 55s linear infinite;
    width: 100%;
    height: 3.5em;
    max-height: 4em;
    min-height: 3em;
    position: relative;
    border-radius: 6.5px;
  }
  
  .pice-border::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(6px);
  }
  
  .pice-border .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    width: 99%;
    height: 96%;
    background-image: linear-gradient(180deg, #272727 0%, #1f1f1f 100%);
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
  
  }
  
  .pice-border .btn:hover {
    color: #fff;
    font-weight: bold;
  
  
  }
  
  
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 50em 50em;
    }
  
    100% {
      background-position: 1em 5em;
    }
  
  }


  
  //RGB LIGHT EFFECT
  .pice-none {
    width: 100%;
    height: 3.5em;
    max-height: 4em;
    min-height: 3em;
    position: relative;
    border-radius: 6.5px;
  }
  
  .pice-none::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(6px);
  }
  
  .pice-none .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    width: 99%;
    height: 96%;
    background-image: linear-gradient(180deg, #272727 0%, #1f1f1f 100%);
    text-align: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
  
  }
  
  .pice-none .btn:hover {
    color: #fff;
    font-weight: bold;
  }
  .pice-none:hover {
    background: rgb(250, 6, 252);
    background: linear-gradient(90deg, rgba(250, 6, 252, 1) 0%, rgba(158, 61, 255, 1) 25%, rgba(0, 249, 255, 1) 50%, rgba(158, 61, 255, 1) 75%, rgba(250, 6, 252, 1) 100%);
    animation: gradient 55s linear infinite;
  }
  

  //ZOOM
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
  }
  

  
//displays

.separation-small{
  height: 10vh;
}
.separation-medium{
  height: 80vh;
}
.box-padding{
  margin-left: 2em;
  margin-right: 2em;
}


.fade-in-image { animation: fadeIn 0.5s; }


//NAVBAR

.footerbar {
  background-color: #1f1f1f;
  display: none;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


//ABOUT PAGE-------------------------------

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Marcellus&family=Marcellus+SC&family=Open+Sans:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.titletext {
    font-family: 'Marcellus SC', serif;
    font-size: 100px;
    letter-spacing: 0.5px;
    padding-left: 0;
}

.subtitletext {
    font-family: 'Marcellus', serif;
    font-size: 30px;
}

.basetext {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;

}
.titletext2 {
    font-family: 'Poppins', serif;
    font-size: 100px;
    letter-spacing: 0.5px;
    padding-left: 0;

}



//media handler-------------------------
@media screen and (max-width: 320px) {
  .sidebar_st { 
    display: none;
  }
  .footerbar { 
    display: block;
    background-color: coral;
  } 
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
}


@media screen and (max-width: 428px) {
  .sidebar_st { 
    display: none;
  }
  .footerbar { 
    display: block;
  } 
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
}
@media screen and (max-width: 600px) {
  .sidebar_st { 
    display: none;
  }
  .footerbar { 
    display: block;
  } 
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */ 
  }

}

.row{
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sidebar_st { 
    display: none;
  }
  .footerbar { 
    display: block;
  } 
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  .titletext2{
    font-size: 80px;
  }
  .subtitletext{
    font-size: 25px;
  }

  .basetext{
    font-size: 16px;
  }
  .fab-container{
    display: flex;
  }
 
}
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {
  
}
